/*font-family imports*/
  @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bebas+Neue&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Romanesco&display=swap');


/*section css files imports*/
@import url("sections/about.css");
@import url("sections/header.css");
@import url("sections/footer.css");
@import url("sections/hero.css");
@import url("sections/menu.css");
/* css variable imports */
:root{
--logo-font-romanese:'Romanesco', cursive;
--logo-font: 'Audiowide', sans-serif;
--header-font: "Plus Jakarta Sans", sans-serif;
--body-font: "Playfair Display", serif;
--white-color:#fff;
--black-color:#000000;
--button-background-color:#911d1c;
--pistachio-color:#CBD125;
--gold-color:#FFD700;
--color-cream:#dfd4c6;
--dark-coffe-color:#533220;

--max-width:1280px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body{
    width: 100%;
    background-image:repeating-linear-gradient(180deg, var(--white-color), var(--dark-coffe-color));
    margin: 0 auto;
   
    
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button{

  
     font-family: var(--logo-font);
  background-color: transparent;
  border: 2px solid var(--dark-coffe-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
    padding: 10px 30px;
    
     
 
}
.header_hero{
 
  width: 100%;
  background-image: url("/assets/hero_bg1.png");
 
 
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.about{
  width: 100%;
 
 
}



/*Meadia Queries Start!!!!!!*/
/* screen break points
1060px 
900px
750px
550px


*/
/*header media queries */
@media screen and (max-width: 1280px){
.header__logo{
  border: 3px solid var(--dark-coffe-color);
}
}
@media screen and (max-width: 750px){
  header{
    height:10vh;
  }
  .header__logo{
    font-size: 30px;
    border: 2px solid var(--dark-coffe-color);
  }
  .header__menu li{
    font-size: 16px;
  }

}


/*hero media queries*/
/*menu media queries*/
@media screen and (max-width: 1280px){

  .menu__container{
    flex-direction: column;
  }
}
/*about media queries*/
@media screen and (max-width: 750px){
  div.about{
    background-image: url("/assets/about-bg.png");
 
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
 
  div.about__img{
    display: none;
  }

  div.about__text{
    background-color: #000a;
    padding: 1%;
    h5, p{
      color: #dfd4c6;

text-align: center;
    }
    /*background-image: url("/assets/about_plate.png");
 
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 3vh; */
    
  }
  
}
/*footer media queries*/
