.about__container{
  
   min-height: fit-content;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}
.about__img{
    flex: 1;
    width: 50%;
    height: auto;
    
    
    img{
        max-width: 100%;
        margin: 0;
        
    }
}
.about__text{
    
    flex: 1;
   
    width: 50%;
    margin: 0;
    h5{
        font-family: var(--body-font);
    color: var(--black-color);
    text-transform: uppercase;
       margin:5vh auto;
        font-size: 25px;
        line-height: 18.75px;
        font-weight: 500;
    }
    p{
        font-family: var(--body-font);
    color: var(--black-color);
   
      
        font-size: 1rem;
        line-height: 30px;
        font-weight: 400;
    }
}
