.footer{

    width: 100%;
   

    background-image:linear-gradient(0deg,  var(--dark-coffe-color), var(--black-color));
 
    margin: 0 auto;

    width: 100%;
    color: var(--color-cream);
   display: flex;
   flex-direction: column;
  text-align: center;
  align-items: center;
   justify-content:flex-end;
   font-family: var(--header-font);
 
   h2{
    text-transform: uppercase;

   }
   h3{
    line-height: 40px;
   }
.contact{
margin: 5vh auto; 
}
   .copyright{
    height: max-content;
    width: 100%;
background-color: var(--black-color);
    p{
        line-height: 3vh;
    }
   }
}