.kampany{
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 100%;
    background-color: #000a;
    font-size: 30px;
    h1{
      text-align: center;
     font-size: 1.5em;
        
        font-family: var(--header-font);
      
        width: fit-content;
        line-height: 5vh;
        margin: 0 auto;
        letter-spacing: 5px;
        font-weight: 600;
        color: var(--gold-color);
        
    }
}
.kampanya__container{
    padding:5vh 0 5vh 0 ;
    width: 100%;
    display: flex;
  
   justify-content: space-evenly;
   align-items: center;
flex-wrap: wrap;

div{
    border-bottom-right-radius:25% ;
    border-top-left-radius:25% ;
    padding:5vh 1vh;
    text-align: center;
   min-width: 300px;
   max-width: 450px;
flex:1;
    background-color:antiquewhite;

border: 5px solid #000a;
margin: 1%;
    font-size: 25px;
    h1{
        background-color: var(--black-color);
        opacity: 0.9;
        font: 1em sans-serif;
    }
        h5{
            line-height: 4vh;
            font-family: var(--header-font);
        }
       h4{
        text-transform: uppercase;
        line-height: 5vh;
    
        .price{
            color: red;
        }
       }
}

   

}
